/* ==========================================================================
   # Widget Slider
   ========================================================================== */
.slider {
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  height: 3rem;
  border-radius: 1.5rem;
  /*background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);*/
  background-color: #fff;
  width: 12rem;
}
  .slider__before,
  .slider__after {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
  }

  .slider__after {
    left: auto;
    right: 0;
  }

/*  .slider__icon {
    width: calc(var(--sizePixel) * 30);
    height: calc(var(--sizePixel) * 30);
    margin: auto;
  }*/

  .slider__cursor {
    position: absolute;
    top: 0;
    width: 3rem;
    height: 3rem;
    border: 3px solid #000;
    border-radius: 100%;
    z-index: 2;
    cursor: pointer;
  }

  .slider__cursor:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3.5rem;
      height: 3.5rem;
      border: 4px solid #FFFFFF;
      border-radius: 100%;
      z-index: 1;
    }

/*.widget-slider--temperature {
  & .slider {
    background-image: linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
  }

  & .slider__from,
  & .slider__to {
    font-size: calc(var(--sizePixel) * 18);
    line-height: 1;
    color: #fff;
    margin: auto;
    transform: rotate(90deg);
  }

  & .slider__from {
    transform: rotate(90deg) translateY(calc(var(--sizePixel) * 5));
  }
}*/

/*@media (min-width: 1366px) {
  .widget-slider {
    padding-bottom: calc(var(--sizePixel) * 81);
  }
  .widget-slider__option {
    font-weight: bold;
  }

  .slider {
    margin-top: calc(var(--sizePixel) * 21);
    width: auto;
    transform: none;
    margin: 0;
    top: calc(var(--sizePixel) * 54);
    left: 0;
    right: 0;
  }

  .widget-slider--temperature {
    & .slider__from {
      transform: translate(calc(var(--sizePixel) * 5), calc(var(--sizePixel) * 2));
    }
    & .slider__to {
      transform: translate(calc(var(--sizePixel) * -5), calc(var(--sizePixel) * 2));
    }
  }
}*/